<!-- <footer class="footer section py-5">
        <div class="row">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                <p class="mb-0 text-center text-xl-left">
                    &copy; <a class="text-primary fw-normal" href="https://themesberg.com" target="_blank">Themesberg</a>
                - Coded by <a href="https://appseed.us" target="_blank">AppSeed</a>. 
                </p>
            </div>

            <div class="col-12 col-lg-6">
                <ul class="list-inline list-group-flush list-group-borderless text-center text-xl-right mb-0">
                    <li class="list-inline-item px-0 px-sm-2">
                        <a target="_blank" 
                           href="https://appseed.us/admin-dashboards/django-dashboard-volt">Django Volt Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
     -->