{% extends "layouts/base.html" %} {% block title %} DCF {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<main>
    {% csrf_token %}
    <!-- Section -->
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-12">
                    <h3 class='company-text text-center' id='company_name'>
                    </h3>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <h5 class='text-center'>Sector:
                        <span class='company-text' id='sector'></span>
                    </h5>

                </div>
            </div>
            <div class="row mb-5">
                <div class="col-4">
                    <h5 class='text-center'>Stock Price:
                        <span class='company-text' id='stock_price'></span>
                    </h5>
                </div>
                <div class="col-4">
                    <h5 class='text-center'>Value:
                        <span class='company-text' id='estimated_value_per_share'></span>
                    </h5>
                </div>
                <div class="col-4">
                    <h5 class='text-center'>Upside:
                        <span class='company-text' id='potential_upside'></span>
                    </h5>
                    <small class='text-center d-none'>Certainty: <span id="certainty" class="company-text"></span>%</small>
                </div>
            </div>
            <div class="row mb-3 d-none">
                <div class="col-12">
                    <h5 class='text-center'>Recommendation:
                        <span class='company-text' id='recommendation'></span>
                    </h5>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <h5 class='text-center'>Short term Financial Strength:
                        <span class='company-text' id='short_term_financial'></span>
                    </h5>
                </div>
                <div class="col-6">
                    <h5 class='text-center'>Long term Financial Strength:
                        <span class='company-text' id='long_term_financial'></span>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="accordion" id="accordionPricing">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h1 class="h4 mb-0">Custom input</h1>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionPricing">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="mb-4">
                                                <label for="revenues_ttm">Revenues (ttm)</label>
                                                <input type="text" class="form-control calc-display" id="revenues_ttm">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="mb-4">
                                                <label for="operating_income_ttm">Operating Income (ttm)</label>
                                                <input type="text" class="form-control calc-display" id="operating_income_ttm">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="mb-4">
                                                <label for="estimated_growth_rate">Est. Growth Rate</label>
                                                <input type="text" class="form-control calc-display" id="estimated_growth_rate">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="mb-4">
                                                <label for="terminal_growth_rate">Terminal Growth Rate</label>
                                                <input type="text" class="form-control calc-display" id="terminal_growth_rate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="mb-4">
                                                <label for="cost_of_capital">Cost of capital</label>
                                                <input type="text" class="form-control calc-display" id="cost_of_capital">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="mb-4">
                                                <label for="terminal_cost_of_capital">Terminal cost of capital</label>
                                                <input type="text" class="form-control calc-display" id="terminal_cost_of_capital">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="mb-4">
                                                <label for="estimated_margins">Estimated Margins</label>
                                                <input type="text" class="form-control calc-display" id="estimated_margins">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="mb-4">
                                                <label for="terminal_estimated_margins">Terminal Estimated
                                                    Margins</label>
                                                <input type="text" class="form-control calc-display" id="terminal_estimated_margins">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="mb-4">
                                                <label for="effective_tax_rate">Effective Tax Rate</label>
                                                <input type="text" class="form-control calc-display" id="effective_tax_rate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="mb-4">
                                                <label for="marginal_tax_rate">Marginal Tax Rate</label>
                                                <input type="text" class="form-control calc-display" id="marginal_tax_rate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="mb-4">
                                                <label for="sales_to_capital">Sales To Capital</label>
                                                <input type="text" class="form-control calc-display" id="sales_to_capital">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="mb-4">
                                                <label for="book_value_of_debt_ttm">Book value of debt (ttm)</label>
                                                <input type="text" class="form-control calc-display" id="book_value_of_debt_ttm">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="mb-4">
                                                <label for="cash_ttm">Cash (ttm)</label>
                                                <input type="text" class="form-control calc-display" id="cash_ttm">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="mb-4">
                                                <label for="shares_outstanding">Shares outstanding</label>
                                                <input type="text" class="form-control calc-display" id="shares_outstanding">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="">
                                                <button class="btn btn-dark mb-3" type="button" onclick='submit()'>Submit</button>
                                                <div class="alert alert-success" role="alert" id='alert-loaded' style='display:none'>
                                                    Loaded data
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="mb-3">
                        <a href="full_data/" class="h5 text-secondary" target="_blank">Click to view full data</a>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="mb-5">
                        <div id="dcf-data"></div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="">
                        <div id="final-calc"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    // var tabledata = [
    //     {id:1, name:"Oli Bob", location:'United Kingdom', progress:12, gender:"male", rating:1, col:"red", dob:"19/02/1984", car:1},
    //     {id:2, name:"Mary May", location:'Germany', progress:1, gender:"female", rating:2, col:"blue", dob:"14/05/1982", car:true},
    //     {id:3, name:"Christine Lobowski", location:'France', progress:42, gender:"female", rating:0, col:"green", dob:"22/05/1982", car:"true"},
    //     {id:4, name:"Brendon Philips", location:'USA', progress:100, gender:"male", rating:1, col:"orange", dob:"01/08/1980"},
    //     {id:5, name:"Margret Marmajuke", location:'Canada', progress:16, gender:"female", rating:5, col:"yellow", dob:"31/01/1999"},
    //     {id:6, name:"Frank Harbours", location:'Russia', progress:38, gender:"male", rating:4, col:"red", dob:"12/05/1966", car:1},
    // ];

    var csrftoken = '{{ csrf_token }}';

    function submit() {

        var calc_display = document.getElementsByClassName("calc-display");
        custom_input = {}
        for (var elem of calc_display) {
            custom_input[elem.id] = elem.value
        }

        fetch('submit_custom_dcf/', {
                method: "POST",
                mode: "cors",
                credentials: "same-origin",
                headers: {
                    "Content-type": 'application/json;charset=utf-8',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(custom_input)
            })
            .then(response => response.json())
            .then(result => {
                var table = Tabulator.prototype.findTable("#dcf-data")[0];
                var table2 = Tabulator.prototype.findTable("#final-calc")[0];

                table.replaceData(result.data.dcf_data);
                table2.replaceData(result.data.final_calc);

                var stock_price = document.getElementById("stock_price");
                stock_price.innerHTML = result.data.metrics.metrics.stock_price;

                var estimated_value_per_share = document.getElementById("estimated_value_per_share");
                estimated_value_per_share.innerHTML = result.data.final_calc[0].estimated_value_per_share;

                let potential_upside_calc = ((parseFloat(result.data.final_calc[0].estimated_value_per_share) / parseFloat(result.data.metrics.metrics.stock_price)) * 100).toFixed(2);
                var potential_upside = document.getElementById("potential_upside");
                potential_upside.innerHTML = potential_upside_calc + '%';
            })
        $('#alert-loaded').show(500);
        setTimeout(function() {
            $('#alert-loaded').hide(500);
        }, 2000);


    }

    fetch('retrieve_dcf_data/', {
            method: "POST",
            mode: "cors",
            credentials: "same-origin",
            headers: {
                "Content-type": 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrftoken
            },
        })
        .then(response => response.json())
        .then(result => {
            console.log(result);
            var company_name = document.getElementById("company_name");
            company_name.innerHTML = result.data.metrics.metrics.company_name;

            var sector = document.getElementById("sector");
            sector.innerHTML = result.data.metrics.metrics.sector;

            var stock_price = document.getElementById("stock_price");
            stock_price.innerHTML = result.data.metrics.metrics.stock_price;

            var estimated_value_per_share = document.getElementById("estimated_value_per_share");
            estimated_value_per_share.innerHTML = result.data.final_calc[0].estimated_value_per_share;

            let potential_upside_calc = ((parseFloat(result.data.final_calc[0].estimated_value_per_share) / parseFloat(result.data.metrics.metrics.stock_price)) * 100).toFixed(2);
            var potential_upside = document.getElementById("potential_upside");
            potential_upside.innerHTML = potential_upside_calc + '%';

            var certainty = document.getElementById("certainty");
            certainty.innerHTML = 100;

            var recommendation = document.getElementById("recommendation");
            recommendation.innerHTML = 'Strong Buy';

            var short_term_financial = document.getElementById("short_term_financial");
            short_term_financial.innerHTML = (result.data.metrics.medium_fuzzy.percent_fuzzy_score * 100).toFixed(2) + '%';

            var long_term_financial = document.getElementById("long_term_financial");
            long_term_financial.innerHTML = (result.data.metrics.late_fuzzy.percent_fuzzy_score * 100).toFixed(2) + '%';


            var table = new Tabulator("#dcf-data", {
                maxHeight: "100%",
                layout: "fitColumns",
                responsiveLayout: "collapse",
                headerSort: false,
                columnMinWidth: 120,
                columns: [{
                        title: "",
                        field: "header_name",
                        width: 220,
                        frozen: true,
                        cssClass: 'bg-dark text-white'
                    }, {
                        title: "Year 1",
                        field: "year1",
                        formatter: "money"
                    }, {
                        title: "Year 2",
                        field: "year2",
                        formatter: "money"
                    }, {
                        title: "Year 3",
                        field: "year3",
                        formatter: "money"
                    }, {
                        title: "Year 4",
                        field: "year4",
                        formatter: "money"
                    }, {
                        title: "Year 5",
                        field: "year5",
                        formatter: "money"
                    }, {
                        title: "Year 6",
                        field: "year6",
                        formatter: "money"
                    }, {
                        title: "Year 7",
                        field: "year7",
                        formatter: "money"
                    }, {
                        title: "Year 8",
                        field: "year8",
                        formatter: "money"
                    }, {
                        title: "Year 9",
                        field: "year9",
                        formatter: "money"
                    }, {
                        title: "Year 10",
                        field: "year10",
                        formatter: "money"
                    }, {
                        title: "Terminal year",
                        width: 200,
                        field: "terminal",
                        formatter: "money"
                    },

                ],
                data: result.data.dcf_data,
            });


            var table2 = new Tabulator("#final-calc", {
                maxHeight: "100%",
                layout: "fitColumns",
                responsiveLayout: "collapse",
                headerSort: false,
                columnMinWidth: 130,
                columns: [{
                    title: "pv_terminal_value",
                    field: "pv_terminal_value"
                }, {
                    title: "pv_cash_flow",
                    field: "pv_cash_flow"
                }, {
                    title: "pv_sum",
                    field: "pv_sum"
                }, {
                    title: "value_of_operating_assets",
                    field: "value_of_operating_assets"
                }, {
                    title: "value_of_equity",
                    field: "value_of_equity"
                }, {
                    title: "value_of_equity_common_stock",
                    field: "value_of_equity_common_stock"
                }, {
                    title: "estimated_value_per_share",
                    field: "estimated_value_per_share"
                }, ],
                data: result.data.final_calc,
            });

            var calc_display = document.getElementsByClassName("calc-display");
            for (var elem of calc_display) {
                elem.value = result.data.inputs_to_dcf[elem.id]
            }
        })
</script>
{% endblock javascripts %}