{% extends "layouts/base.html" %} {% block title %} Full Data {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<main>
    {% csrf_token %}
    <!-- Section -->
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-light shadow-sm components-section">
                        <div class="card-body">
                            <div class="row mb-4">
                                <div class="col-12">
                                    <div class="mb-1">
                                        <label for="disabledTextInput">Risk free rate :</label>
                                        <input type="text" id="risk_free_rate" class="form-control calc-display" placeholder="Disabled input" disabled>
                                        <small id="emailHelp" class="form-text text-muted">bond_yield - default_spread_country</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-12">
                                    <div class="mb-1">
                                        <label for="disabledTextInput">Relevered beta :</label>
                                        <input type="text" id="relevered_beta" class="form-control calc-display" placeholder="Disabled input" disabled>
                                        <small id="emailHelp" class="form-text text-muted">(unlevered_beta) * (1 + (1 - marginal_tax_rate) * (debt_to_equity_ratio))</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-12">
                                    <div class="mb-1">
                                        <label for="disabledTextInput">Market Value of debt :</label>
                                        <input type="text" id="market_value_of_debt" class="form-control calc-display" placeholder="Disabled input" disabled>
                                        <small id="emailHelp" class="form-text text-muted">interest_expense * (1 - (1 + cost_of_debt) ** ( - BOND_DISCOUNT_YEARS)) / cost_of_debt + total_debt / (1 + cost_of_debt) ** BOND_DISCOUNT_YEARS</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-12">
                                    <div class="mb-1">
                                        <label for="disabledTextInput">Cost of equity :</label>
                                        <input type="text" id="cost_of_equity" class="form-control calc-display" placeholder="Disabled input" disabled>
                                        <small id="emailHelp" class="form-text text-muted">risk_free_rate + adjusted_relevered_beta * (equity_risk_premium) + pct_of_revenues * country_risk_premium</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-12">
                                    <div class="mb-1">
                                        <label for="disabledTextInput">Cost of debt :</label>
                                        <input type="text" id="cost_of_debt" class="form-control calc-display" placeholder="Disabled input" disabled>
                                        <small id="emailHelp" class="form-text text-muted">risk_free_rate + company_default_spread + default_spread_country</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-12">
                                    <div class="mb-1">
                                        <label for="disabledTextInput">After tax cost of debt :</label>
                                        <input type="text" id="after_tax_cost_of_debt" class="form-control calc-display" placeholder="Disabled input" disabled>
                                        <small id="emailHelp" class="form-text text-muted">cost_of_debt * (1 - marginal_tax_rate)</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-12">
                                    <div class="mb-1">
                                        <label for="disabledTextInput">WACC :</label>
                                        <input type="text" id="wacc" class="form-control calc-display" placeholder="Disabled input" disabled>
                                        <small id="emailHelp" class="form-text text-muted">cost_of_equity * pct_equity + after_tax_cost_of_debt * pct_debt</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-light shadow-sm components-section">
                        <div class="card-body">
                            <div class="row mb-4">
                                <div class="col-12">
                                    <div class="mb-1">
                                        <label for="disabledTextInput">Medium Fuzzy:</label>
                                        <input type="text" id="medium-fuzzy" class="form-control fuzzy-display" placeholder="Disabled input" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-12">
                                    <div class="mb-1">
                                        <label for="disabledTextInput">Late fuzzy :</label>
                                        <input type="text" id="late-fuzzy" class="form-control fuzzy-display" placeholder="Disabled input" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="mb-5">
                        <div id="stock-metrics"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="mb-5">
                        <div id="yearly-items"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="mb-5">
                        <div id="yearly-growth"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="mb-5">
                        <div id="estimated-growth-rate"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="mb-5">
                        <div id="estimated-sales-to-capital"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="mb-5">
                        <div id="estimated-margins"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="mb-5">
                        <div id="corrections-to-accounting-data"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    var csrftoken = '{{ csrf_token }}';

    fetch('retrieve_yearly_reinvestment/', {
            method: "POST",
            mode: "cors",
            credentials: "same-origin",
            headers: {
                "Content-type": 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrftoken
            },
        })
        .then(response => response.json())
        .then(result => {
            var table = new Tabulator("#yearly-growth", {
                maxHeight: "100%",
                layout: "fitColumns",
                responsiveLayout: "collapse",
                headerSort: false,
                columnMinWidth: 130,
                columns: [{
                    title: "Header",
                    field: "header_name",
                    width: 220,
                    frozen: true,
                    cssClass: 'bg-dark text-white'
                }, {
                    title: "TTM",
                    field: "ttm",
                }, {
                    title: "Year -1",
                    field: "year1"
                }, {
                    title: "Year -2",
                    field: "year2"
                }, {
                    title: "Year -3",
                    field: "year3"
                }, {
                    title: "Year -4",
                    field: "year4"
                }, {
                    title: "Year -5",
                    field: "year5"
                }, {
                    title: "Year -6",
                    field: "year6"
                }, {
                    title: "Year -7",
                    field: "year7"
                }, {
                    title: "Year -8",
                    field: "year8"
                }, {
                    title: "Year -9",
                    field: "year9"
                }, ],
                data: result.data.yearly_reinvestment,
            });


            var table2 = new Tabulator("#estimated-growth-rate", {
                maxHeight: "100%",
                layout: "fitColumns",
                responsiveLayout: "collapse",
                headerSort: false,
                columnMinWidth: 130,
                columns: [{
                    title: "historical_cagr",
                    field: "historical_cagr",
                }, {
                    title: "mean_est_growth_rate",
                    field: "mean_est_growth_rate"
                }, {
                    title: "mean_3y_est_growth_rate",
                    field: "mean_3y_est_growth_rate"
                }, {
                    title: "max_est_growth_rate",
                    field: "max_est_growth_rate"
                }, {
                    title: "latest_est_growth_rate",
                    field: "latest_est_growth_rate"
                }, {
                    title: "industry_projection",
                    field: "industry_projection"
                }, {
                    title: "industry_average",
                    field: "industry_average"
                }, {
                    title: "industry_best",
                    field: "industry_best"
                }, ],
                data: result.data.estimated_growth_rate,
            });

            var table3 = new Tabulator("#estimated-sales-to-capital", {
                maxHeight: "100%",
                layout: "fitColumns",
                responsiveLayout: "collapse",
                headerSort: false,
                columnMinWidth: 130,
                columns: [{
                    title: "mean_sales_to_capital",
                    field: "mean_sales_to_capital"
                }, {
                    title: "mean_3y_sales_to_capital",
                    field: "mean_3y_sales_to_capital"
                }, {
                    title: "max_sales_to_capital",
                    field: "max_sales_to_capital"
                }, {
                    title: "latest_sales_to_capital",
                    field: "latest_sales_to_capital"
                }, {
                    title: "corrected_latest_sales_to_capital",
                    field: "corrected_latest_sales_to_capital"
                }, {
                    title: "industry_average",
                    field: "industry_average"
                }, {
                    title: "industry_best",
                    field: "industry_best"
                }, ],
                data: result.data.estimated_sales_to_capital,
            });
            var table4 = new Tabulator("#estimated-margins", {
                maxHeight: "100%",
                layout: "fitColumns",
                responsiveLayout: "collapse",
                headerSort: false,
                columnMinWidth: 130,
                columns: [{
                    title: "mean_margin",
                    field: "mean_margin"
                }, {
                    title: "mean_3y_margin",
                    field: "mean_3y_margin"
                }, {
                    title: "max_margin",
                    field: "max_margin"
                }, {
                    title: "latest_margin",
                    field: "latest_margin"
                }, {
                    title: "industry_average",
                    field: "industry_average"
                }, {
                    title: "industry_best",
                    field: "industry_best"
                }, ],
                data: result.data.estimated_margins,
            });

            var table5 = new Tabulator("#corrections-to-accounting-data", {
                maxHeight: "100%",
                layout: "fitColumns",
                responsiveLayout: "collapse",
                headerSort: false,
                columnMinWidth: 130,
                columns: [{
                    title: "old_invested_capital",
                    field: "old_invested_capital",
                }, {
                    title: "new_invested_capital",
                    field: "new_invested_capital"
                }, {
                    title: "old_reinvestment_rate",
                    field: "old_reinvestment_rate"
                }, {
                    title: "new_reinvestment_rate",
                    field: "new_reinvestment_rate"
                }, {
                    title: "old_return_on_capital",
                    field: "old_return_on_capital"
                }, {
                    title: "new_return_on_capital",
                    field: "new_return_on_capital"
                }, {
                    title: "old_ebit",
                    field: "old_ebit"
                }, {
                    title: "corrected_ebit",
                    field: "corrected_ebit"
                }, {
                    title: "old_debt",
                    field: "old_debt"
                }, {
                    title: "corrected_debt",
                    field: "corrected_debt"
                }, {
                    title: "old_sales_to_capital",
                    field: "old_sales_to_capital"
                }, {
                    title: "new_sales_to_capital",
                    field: "new_sales_to_capital"
                }, ],
                data: result.data.correction_to_accounting_data,
            });

            yearly_item_columns = []
            for (let key of Object.keys(result.data.yearly_items[0])) {
                if (key != 'id') {
                    if (key == 'header_name') {
                        yearly_item_columns.push({
                            title: "Header",
                            field: "header_name",
                            width: 220,
                            frozen: true,
                            cssClass: 'bg-dark text-white'
                        })
                    } else {
                        yearly_item_columns.push({
                            title: key,
                            field: key
                        })
                    }
                }
            }

            var table6 = new Tabulator("#yearly-items", {
                maxHeight: "100%",
                layout: "fitColumns",
                responsiveLayout: "collapse",
                headerSort: false,
                columnMinWidth: 130,
                columns: yearly_item_columns,
                data: result.data.yearly_items,
            });

            var calc_display = document.getElementsByClassName("calc-display");
            for (var elem of calc_display) {
                elem.value = result.data.calculations[elem.id]
            }

            var medium_fuzzy = document.getElementById('medium-fuzzy');
            medium_fuzzy.value = result.data.medium_fuzzy

            var late_fuzzy = document.getElementById('late-fuzzy');
            late_fuzzy.value = result.data.late_fuzzy

            var table7 = new Tabulator("#stock-metrics", {
                maxHeight: "100%",
                layout: "fitColumns",
                responsiveLayout: "collapse",
                headerSort: false,
                columnMinWidth: 1000,
                columns: [{
                    title: "company_name",
                    field: "company_name",
                }, {
                    title: "stock_price",
                    field: "stock_price"
                }, {
                    title: "sector",
                    field: "sector"
                }, {
                    title: "shares_outstanding",
                    field: "shares_outstanding"
                }, {
                    title: "book_value_growth_5y",
                    field: "book_value_growth_5y"
                }, {
                    title: "accrual_ratio_ttm",
                    field: "accrual_ratio_ttm"
                }, {
                    title: "inventory_turnover_ratio_ttm",
                    field: "inventory_turnover_ratio_ttm"
                }, {
                    title: "free_cash_flow_to_revenue_ttm",
                    field: "free_cash_flow_to_revenue_ttm"
                }, {
                    title: "roa_consistency_5y",
                    field: "roa_consistency_5y"
                }, {
                    title: "roe_consistency_5y",
                    field: "roe_consistency_5y"
                }, {
                    title: "roa_ttm",
                    field: "roa_ttm"
                }, {
                    title: "roe_ttm",
                    field: "roe_ttm"
                }, {
                    title: "current_ratio_ttm",
                    field: "current_ratio_ttm"
                }, {
                    title: "quick_ratio_ttm",
                    field: "quick_ratio_ttm"
                }, {
                    title: "mean_3y_operating_margin",
                    field: "mean_3y_operating_margin"
                }, {
                    title: "operating_margin_growth_5y",
                    field: "operating_margin_growth_5y"
                }, {
                    title: "mean_3y_est_growth_rate",
                    field: "mean_3y_est_growth_rate"
                }, {
                    title: "latest_return_on_capital",
                    field: "latest_return_on_capital"
                }, {
                    title: "earnings_growth_5_years",
                    field: "earnings_growth_5_years"
                }, {
                    title: "revenue_growth_5_years",
                    field: "revenue_growth_5_years"
                }, {
                    title: "debt_to_equity_ratio",
                    field: "debt_to_equity_ratio"
                }, {
                    title: "interest_coverage_ratio",
                    field: "interest_coverage_ratio"
                }, {
                    title: "cost_and_return_capital_difference",
                    field: "cost_and_return_capital_difference"
                }, {
                    title: "latest_est_growth_rate",
                    field: "latest_est_growth_rate"
                }, {
                    title: "latest_operating_margin",
                    field: "latest_operating_margin"
                }, {
                    title: "cost_of_capital",
                    field: "cost_of_capital"
                }, {
                    title: "earnings_growth_ttm",
                    field: "earnings_growth_ttm"
                }, {
                    title: "revenue_growth_ttm",
                    field: "revenue_growth_ttm"
                }],
                data: result.data.stock_metrics,
            });
        })
</script>
{% endblock javascripts %}