{% extends "layouts/base.html" %} {% block title %} Stock List {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %} {% endblock stylesheets %} {% block content %}
<style>
    .stock-underline {
        text-decoration: underline;
        color: blue;
    }
</style>
<main>
    {% csrf_token %}
    <!-- Section -->
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="mb-5">
                        <div id="stock-list-data"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="">
                        <button class="btn btn-dark mb-3" type="button" onclick='go_next_page()' id='next-pg-btn'>Next page</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    // var tabledata = [
    //     {id:1, name:"Oli Bob", location:'United Kingdom', progress:12, gender:"male", rating:1, col:"red", dob:"19/02/1984", car:1},
    //     {id:2, name:"Mary May", location:'Germany', progress:1, gender:"female", rating:2, col:"blue", dob:"14/05/1982", car:true},
    //     {id:3, name:"Christine Lobowski", location:'France', progress:42, gender:"female", rating:0, col:"green", dob:"22/05/1982", car:"true"},
    //     {id:4, name:"Brendon Philips", location:'USA', progress:100, gender:"male", rating:1, col:"orange", dob:"01/08/1980"},
    //     {id:5, name:"Margret Marmajuke", location:'Canada', progress:16, gender:"female", rating:5, col:"yellow", dob:"31/01/1999"},
    //     {id:6, name:"Frank Harbours", location:'Russia', progress:38, gender:"male", rating:4, col:"red", dob:"12/05/1966", car:1},
    // ];

    var csrftoken = '{{ csrf_token }}';
    var next_key = null;
    var exchange = '{{ exchange }}'

    function getHyperLink(cellComp, formatterParams, onRendered) {
        var cellData = cellComp.getData();
        var cellValue = cellComp.getValue();

        var propValFromJSONSource = cellData.stock_code;

        if (propValFromJSONSource != 0) {
            var hrefString = window.location.origin + "/dcf/" + propValFromJSONSource + "/" + exchange + "/";

            return "<a href='" + hrefString + "' target='_blank' class='stock-underline'>" + cellValue + "</a>";
        } else {
            return cellValue;
        }
    }

    function go_next_page() {
        $("#next-pg-btn").prop("disabled", true);
        fetch('get_stock_list/', {
                method: "POST",
                mode: "cors",
                credentials: "same-origin",
                headers: {
                    "Content-type": 'application/json;charset=utf-8',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    'next_key': next_key
                })
            })
            .then(response => response.json())
            .then(result => {
                var table = new Tabulator("#stock-list-data", {
                    maxHeight: "100%",
                    layout: "fitColumns",
                    responsiveLayout: "collapse",
                    headerSort: false,
                    columnMinWidth: 1000,
                    columns: [{
                        title: "company_name",
                        field: "company_name",
                    }, {
                        title: "stock_code",
                        field: "stock_code",
                        formatter: getHyperLink
                    }, {
                        title: "medium_fuzzy",
                        field: "medium_fuzzy",
                    }, {
                        title: "late_fuzzy",
                        field: "late_fuzzy",
                    }, {
                        title: "sector",
                        field: "sector"
                    }, {
                        title: "stock_price",
                        field: "stock_price"
                    }, {
                        title: "estimated_valuation",
                        field: "estimated_valuation"
                    }, ],
                    data: result.stock_list
                });

                next_key = result.next_key;

                $("#next-pg-btn").prop("disabled", false);
            })
    }

    go_next_page();
</script>
{% endblock javascripts %}